/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

  header{
    padding: 1.8rem 1rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html{
      box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    
  }
  
  

  /* GENERAL ELEMENTS */
  
  .btn {
    /* display: inline-block; */
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 0.5rem 2rem;
    border-radius:6px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    /* width: 20%; */
  }
  
 
  
  p {
    color: #666;
  }
  
  /* This is BAD for accessibility! Don't do in the real world! */
  button:focus {
    outline: none;
  }
  
  
  /* OPERATIONS */
  .operations {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
  }
  
  .entries__drafts {
    display: flex;
    align-items: center;
  }
  
  .operations__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
  }
  
  
  .entries__drafts{
    border-bottom: 4px solid #EDEEF5;
    padding: 0;

  }
  
  .operations__tab--active {
    /* transform: translateY(-66%); */
    background-color: #edeef5;
    border: 1px solid red;
  }
  
  .operations__content {
    display: none;
    font-size: 1rem;
    margin-top: 5rem;
    width: 100%;
  }
  
  .operations__content--active {
    display: block;
  }


  .add__new{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }
  .add__new p{
      color: black;
      font-weight: 700;
  }
  .add__new button{
      width: 100%;
      /* display: block; */
  }

  .add__new input{
      height: 2.5rem;
      /* border: none; */
      outline: none;
      padding: 0 1rem;
  }
  .add__new input[type='text']{
      background-color: #d9d9d9;
      color: #62698e;
  }
  .add__new input[type='submit']{
      background-color: #02126a;
      color:white;
  }
  .add__new input::placeholder{
      text-align: center;
  }
  .all__contents{
      padding:8rem 0;
  }




  .search{
      display: flex;
      flex-flow: column wrap;
  }

  .backup__input{
      display: flex;
  }

  .backup__input input[type='text']{
      width: 80%;
      padding:0.8rem;
      border: none;
      background-color: #edeef5;

  }
  .backup__input input[type='submit']{
      width: 20%;
      /* padding:0 rem; */
      padding:0.8rem;
      border: none;
    background-color: #02126a;
    color: white;
  }


  .table__row{
      display:flex;
      align-items: center;
      justify-content:space-between;
      padding: 0.5rem;
  }

  .horizontal__line{
      display: flex;
      border-bottom:4px solid #edeef5;
      height:4rem;
      align-items: flex-end;
      /* justify-content:space-around; */
      
  }
  .horizontal__line p{
      flex-basis: 40%;
      bottom: 0;
  }


  .settings{
      display:flex;
      flex-flow: column wrap;
      gap:0.5rem;
  }

  .settings input{
      background-color: #edeef5;
      height: 2.5rem;
      padding:0 1rem;
      border-radius: 6px;
      border: none;
      outline: none;
  }

  .backups__table a{
    text-decoration: none;
    /* margin:0.5rem; */
  }

  .table__row:nth-child(even){
    background-color: #edeef5;

  }
  .table__row:nth-child(odd){
    /* background-color: blue; */
  }


  .line{
    margin:1rem 0;
  }



  @media (max-width:880px) {
    .btn
    {
    display: inline-block; 
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 0.5rem;
    gap:20%
  
  }
  .entries__drafts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .backup__input input[type='text']{
    padding:0.5rem;
}
.backup__input input[type='submit']{
    padding:0.5rem;
}


.table__row{
    /* flex-flow:column wrap; */
    padding: 0;
}

.backups__table a{
  text-decoration: none;
  margin:1rem;
  font-size: 1rem;

}
.table__row a{
  font-size: 1rem;
}
.table__row span{
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}
.download__img{
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.share__delete{
display:flex;
align-items:center;
justify-content: center;
gap:1rem;
flex-flow:column wrap;
margin-left: 1rem;
}
}
@media (max-width:768px) {
  
  .table__row{
    flex-flow:column wrap;
    padding: 0;
}
.horizontal__line p{
  display:none;
}
.all__contents{
  padding-left: 1rem;
  padding-right:1rem;
}
}

@media (max-width:500px) {
  .btn
  {
  display: inline-block; 
  font-size: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.4rem;
  gap:20%

}
.entries__drafts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operations{
  width: 100%;
}
.operations__content{
  width: 100%;
}


}


