/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
    --color-primary: #1f375b;
    --color-secondary: #1493ff;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  
  body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
*{
    margin: 0;
}

header{
    height: 15vh;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    
}

  
  header a{
    color: white;
}

.top__nav{
height: 40%;
margin: 0;
}
.btm__nav{
    height: 60%;
}
.top__nav{
    background-color:var(--color-primary);
}

.top__nav,.primary-nav-list__btm{
    padding-left: 2.5rem;

}

.btm__nav{
    background-color: var(--color-secondary);
}
.primary-nav-list__btm{
    background-color: var(--color-secondary);

}
.top__nav li a{
    letter-spacing: 2.5px;
    padding: 1rem;
    font-size: 0.9rem;
}

.sports__link:hover,
.horse__link:hover,
.faceoff__link:hover{
    color: #1493ff;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    list-style-type: none;
}
.primary-nav-list__top,
.primary-nav-list__btm{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fantassy__link{
    background-color: #1493ff;
}


.sub__heading{
    height: 10vh;
    border: 1px solid black;
}

.primary-nav-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
}

.primary-nav-item .hidden__line{
    height: 2px;
    width: 2rem;
    background-color: white;
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

.primary-nav-list__btm{
    height: 100%;
    position: relative;

}

.primary-nav-item__active{
    visibility:visible;
}


  
  
  .btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  .btn  a{
    color: #fff;

  }
  
  
  p {
    color: #666;
  }
  
  
  
  /* nav and stickly class at the same time */
  
  
  /* OPERATIONS */
  .operations {
    background-color: #fff;
  }
  
  
  .operations__content {
    display: none;
  
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
  }
  
  .operations__content--active {
    display: flex;
   
  }
  
 
 
 
  



 
















